@page
@model WebApp.Pages_Configs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Name)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Configuration[0].BoardSizeWidth) *@
                Board Width
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Configuration[0].BoardSizeHeight) *@
                Board Height
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Configuration[0].WinCondition) *@
                Win Condition
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Configuration[0].AmountOfPieces) *@
                Amount Of Pieces
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Configuration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardSizeWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardSizeHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfPieces)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
